.DS_Store
.vscode/
array
arrayfor
arrayrand
comparison
doubleOutput
dynamicArray
fibonacci
greeting
helloworld
infinity
integral
loopfor
notX
overflow
prime
rand
stringsCompare
test
test1
test2
test3
test4
